html { position: relative; margin: 0; padding: 0; }
body { margin: 0; padding: 0; text-align: left; }
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imMnMnGraphics { position: absolute; top: 0; bottom: 0; z-index: 9; }
#imContentContainer { position: relative; }
#imContent { position: relative; }
#imContentGraphics { position: absolute; top: 0; bottom: 0; }
#imFooPad { float: left; margin: 0 auto; }
#imBtMnContainer { clear: both; }
.imPageRow { position: relative; clear: both; overflow: hidden; zoom: 1; float: left; width: 100%; }
.imHGroup:after, .imUGroup:after, .imVGroup:after { content: ""; display: table; clear: both; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imFooter { position: relative; }
html { min-width: 960px; }
html { background-image: url('BACKGROUND-1_b1m2509c.jpg'); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-color: #FFFFFF; }
#imPage { padding-top: 0; margin-top: 15px; margin-bottom: 0px; min-width: 960px; }
#imHeaderBg { height: 140px; background-image: none; background-color: transparent; }
#imHeader { position: relative; margin-bottom: 50px; margin-left: auto; margin-right: auto; height: 150px; background-image: none; background-color: transparent; }
#imHeaderObjects { position: relative; height: 150px; }
#imMnMnContainer { position: absolute; top: 150px; left: 0; right: 0; margin-left: auto; margin-right: auto; }
#imMnMn { position: relative; height: 40px; padding: 5px 5px 5px 5px; background-image: none; background-color: #D01935; }
#imMnMn > ul { text-align: left; }
#imMnMn li { display: inline; }
#imMnMnGraphics { display: none; }
#imContent { min-height: 520px; padding: 5px 0 5px 0; }
#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 520px;  background-image: none; background-color: #FFFFFF; }
#imFooterBg { height: 40px; background-image: none; background-color: transparent; }
#imFooter { margin-left: auto; margin-right: auto; height: 40px; background-image: none; background-color: #000000; }
#imFooterObjects { position: relative; height: 40px; }
#imFooPad { height: 520px; }
#imHeader, #imMnMnContainer, #imFooter { width: 960px; }
#imMnMn { width: 950px; }
#imContentGraphics { width: 960px; }
